// MOBILE STYLES

@media (max-width: 500px) {
  .brand {
    &__name-and-subtitle {
      margin-left: 0;
    }

    &__nav {
      margin: 1em 0 auto 0;
    }

    &__nav a {
      font-size: var(--nav-link-size-mobile);
      padding: 4px;
    }
  }

  .footflex__text {
    text-align: center;
  }

  .footflex__social-icons {
    display: flex;
    margin: 1em auto;
  }
}
