// MOBILE STYLES

@media (max-width: 500px) {
  .brand {
    &__name-and-subtitle {
      margin-left: 0;
    }

    &__nav {
      margin: 0 auto;
    }
  }

  .footflex__text {
    text-align: center;
  }

  .footflex__social-icons {
    display: flex;
    margin: 1em auto;
  }
}
