:root {
  // Colors

  --brand-color: #6c584c;
  --nav-link-color: #6c584c;
  --nav-underline-color: #a98467;
  --nav-hover-color: #dde5b6;
  --footer-background-color: #f0ead2;
  --social-icon-background-color: #a98467;

  // Fonts

  --brand-subtitle-font: sans-serif;
  --body-copy-font: serif;

  // Fonts sizes

  --brand-name-size: 2.5rem;
  --brand-subtitle-size: 1.25rem;
  --nav-link-size: 1.75rem;
  --nav-link-size-mobile: 1.2rem;

  --post-title-size: 2.5rem;
  --post-date-size: 1.25rem;
  --post-excerpt-size: 1.75rem;
  --body-copy-size: 1.75rem;
  --footer-copy-size: 1.5rem;
}
