/*
  page header
  allows separate styling of other <nav> elements
*/
header ul {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-md);
  justify-content: space-around;
  list-style: none;
  margin-block-end: 0;
  padding: 0;
  text-align: center;
}
header a {
  margin: 0;
  padding: 0 5px;
}
/* highlight the nav element of the current page  */
header a[aria-current="page"] {
  background-color: var(--link-hover-color);
}
