/* default body styles */
body {
  width: min(var(--page-width-max), 100vw - 0.5em);
  margin: 0 auto;
  font-family: var(--brand-font), monospace;
  font-size: var(--font-size-md);
  color: black;
  line-height: 1.3;
}

/* default <h2> and <h3> */
h2,
h3 {
  font-size: var(--font-size-lg);
  line-height: 1.2;
  margin-block-end: 0.25em;
}

h3 {
  font-size: var(--font-size-md);
  font-style: italic;
}

/* default <p> */
p {
  margin-block: 0.5em 1.25em;
}

/* default <a> */
a {
  color: var(--brand-color);
  text-decoration: none;
  border-bottom: 1px solid var(--dark-accent-color);
}
a:hover,
a:focus {
  background-color: var(--light-accent-color);
  border-radius: var(--brand-link-radius);
}

/* default <ol> & <li> */
ol {
  margin: 0.5em auto 1.5em auto;
}
li {
  margin-block-end: 0.5em;
}

/* default <hr> */
hr {
  border-block-start: 2px solid var(--dark-accent-color);
}

/* default <blockquote> */
blockquote {
  border-inline-start: thick solid var(--dark-accent-color);
  font-style: italic;
  padding: 0 min(4em, 4vw);
  margin: 1em 0;
}

/* default audio */
audio {
  display: block;
  max-width: var(--main-element-max);
  margin: 0 auto 1.5em auto;
  background-color: var(--light-accent-color);
  border: 1px solid var(--dark-accent-color);
}

/* default img to handle fluid images */
img {
  max-width: 100%;
  display: block;
}
img[width] {
  width: auto; /* Defer to max-width */
}
img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

/* forces footer to bottom of page for short pages */
.outer-layout {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* container holds all the content within the <main> element */
/* after header/brand and before footer */
.container {
  max-width: 98vw;
  margin-block-start: 1em;
  margin-inline: auto;
}

/* post elements */
.post {
  max-width: var(--main-element-max);
  margin: 0 auto;
}
.post-title {
  font-size: var(--post-title-full-size);
  line-height: 1.2;
  text-align: center;
}
.post-date,
.post-readingtime {
  font-size: var(--post-info-full-size);
  text-align: center;
  font-style: italic;
  margin-block: 0.25em;
}
.post-taglist {
  display: inline-flex;
  align-items: center;
  list-style: none;
  margin-block: 0.5em;
  padding-inline-start: 0;
  font-size: var(--post-tag-size);
}
.post-nextprev {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding-inline-start: 0;
}
.post-nextprev li:first-child {
  margin-block: 1em;
}
.caption {
  text-align: center;
  font-size: var(--caption-size);
}

/* used in list of posts */
.post-card {
  margin-block-start: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
.post-metadata,
.post-image {
  flex-basis: min(500px, 100vw - 0.25em);
}
.post-card .post-title {
  text-align: left;
}
.post-card .post-date {
  text-align: left;
}
.post-card .post-excerpt {
  font-size: var(--post-excerpt-card-size);
  margin-block: 0.5em;
  line-height: 1.25;
}
/* end post elements */
