body {
	background-color: #fff1e5; /* color from ft.com background */
	color: black;
	display: grid;
	font-family: var(--brand-font);
	font-size: var(--font-size-md);
	/* forces footer to bottom of page for short pages */
	grid-template-rows: auto 1fr auto;
	line-height: 1.3;
	margin-inline: auto;
	min-height: 100vh;
	min-height: 100dvh;
	width: min(var(--page-width-max), 100vw);
}

@view-transition {
	navigation: auto;
}

/* general styles */
:is(h1, h2) {
	font-size: var(--font-size-xl);
	line-height: 1.2;
	text-align: center;
	text-wrap: balance;
}

h3 {
	font-size: var(--font-size-md);
	font-style: italic;
}

p {
	line-height: 1.5;
	text-wrap: pretty;
}

a {
	color: var(--brand-color);
	text-decoration: none;
	border-bottom: 1px solid var(--dark-accent-color);
}
a:is(:hover, :focus) {
	background-color: var(--link-hover-color);
}

ol {
	margin: var(--space-m) auto;
}
li {
	margin-block-end: var(--space-s);
}
li:last-of-type {
	margin-block-end: 0;
}

audio {
	margin-inline: auto;
	border: 1px solid var(--dark-accent-color);
	border-radius: 20px;
}

hr {
	border: none; /* Remove the default border */
	height: 1px; /* Set the height of the line */
	/* background-color: black; Set the background color */
	/* background-color: var(--dark-accent-color); Set the background color */
	margin: 1em auto; /* Add vertical spacing around the line */
	width: 40%;
}

/* default img to handle fluid images */
img {
	max-width: 100%;
	display: block;
}
img[width] {
	width: auto; /* Defer to max-width */
}
img[width][height] {
	height: auto; /* Preserve aspect ratio */
}

/* main content constrained by body width */
.content {
	--gap: clamp(0.25rem, 3vw, 1rem);
	--full: minmax(var(--gap), 1fr);
	--feature: minmax(0, 5rem);
	--popout: minmax(0, 2rem);
	--content: min(65ch, 100% - var(--gap) * 2);

	display: grid;
	place-content: start center;
	grid-template-columns:
		[full-start] var(--full)
		[feature-start] var(--feature)
		[popout-start] var(--popout)
		[content-start] var(--content) [content-end]
		var(--popout) [popout-end]
		var(--feature) [feature-end]
		var(--full) [full-end];
}

.content > * {
	grid-column: full;
}

.post > *,
.plain > * {
	grid-column: content;
}

.popout,
.post > .popout {
	grid-column: popout;
}

.feature,
.post > .feature {
	grid-column: feature;
}

.full,
.post > .full {
	grid-column: full;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
/* used for skip-to-main-content link */
#visually-hidden {
	background: var(--light-accent-color);
	color: var(--dark-accent-color);
	font-weight: bold;
	padding: 0.5rem 1.5rem;
	border: none;
	border-radius: 0 0 0.25rem 0.25rem;
	position: absolute;
	transform: translateY(-120%);
	transition: transform 325ms ease-in;
}
#visually-hidden:focus {
	transform: translateY(80px);
	opacity: 1;
}
#search {
	margin-block: 1em;
	text-align: left;
}

/* list of All Tags */
.alltags-list * {
	list-style: none;
	text-align: center;
	margin: 1em auto;
	padding-inline: 0;
}

.flow > * + * {
	margin-block-start: var(--flow-space);
}

/* list of posts metadata on home and archive pages */
/* as seen in postlist.njk */
.post-metadata :is(p, ul) {
	font-size: var(--font-size-base);
	font-style: italic;
	margin-block-start: 0.25em;
	text-align: center;
}
.post-taglist {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-block: 0.25em;
	padding: 0;
}
div.notes > ul {
	font-size: var(--font-size-base);
	justify-content: left;
}
.tagged-taglist {
	display: flex;
	font-size: var(--font-size-base);
	justify-content: left;
	list-style: none;
	margin-block: 0;
	/* margin-block: 0.25em; */
	padding: 0;
}
.post-card {
	display: grid;
	grid-column: full;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	margin-block-start: var(--space-l);
	place-items: center;
}

/*
  full display of a post
  (not the card style used in home and archive)
*/
.post {
	grid-column: full;
	display: grid;
	grid-template-columns: inherit;
}
.post .table-of-contents {
	background-color: lightgray;
	border: 1px solid gray;
	border-radius: 20px;
	grid-column: content;
	margin: 0 auto;
	margin-block-start: var(--space-s);
	padding: var(--space-3xs-l);
	width: fit-content;
}
.post .table-of-contents h2 {
	margin-block-start: var(--space-2xs);
	text-align: center;
}
.post h2 {
	font-size: var(--font-size-lg);
	text-align: left;
	text-wrap: wrap;
}
.post blockquote {
	border-inline-start: var(--space-xs) solid var(--dark-accent-color);
	font-style: italic;
	font-size: var(--font-size-lg);
	grid-column: feature;
	margin-block: var(--space-s);
	padding: var(--space-s);
}
.post-nextprev {
	list-style: none;
}
.post-nextprev li:first-child {
	margin-block: var(--space-xs);
}
/* show pictures at 'popout' width */
.post > picture {
	grid-column: popout;
}
/* display code as 'popout' width */
.post > pre {
	grid-column: popout;
	margin-block: var(--space-l);
}

p.email-comment {
	border: 1px solid gray;
	border-radius: 10px;
	background-color: white;
	margin: 2rem auto 0 auto;
	padding: 0.5em;
	width: fit-content;
}

/* first paragraph after an image is always a caption */
p.caption {
	text-align: center;
	font-size: var(--caption-size);
}
/* end full post elements */

.strikethrough {
	text-decoration: line-through;
}

/* About page specific styles */
.about-img {
	margin: var(--space-m) auto;
	clip-path: circle(50%);
}
/* responsive video */
.iframe-wrapper {
	margin-block: 1em;
}
iframe[src*="youtube"] {
	aspect-ratio: 16 / 9;
	height: auto;
	margin-block: 1em;
	max-width: 100%;
	width: 100%;
}

.parenthetical {
	font-size: var(--font-size-md);
	font-weight: normal;
	font-style: italic;
}

.social-icons {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: center;
	gap: 1em;
}

.social-icons li {
	position: relative; /* Ensure the pseudo-element is positioned relative to the link */
	margin-block: 0;
	padding: 1.25rem;
}

.social-icons a {
	border-bottom: 0;
	display: inline-block;
	padding: 0.5em;
	transition: transform 0.3s ease;
	text-decoration: none;
}

.social-icons a:hover,
.social-icons a:focus {
	transform: scale(1.1);
	outline: none;
}

.social-icons a::after {
	content: attr(
		data-hover-text
	); /* Use the data-hover-text attribute for the content */
	position: absolute;
	top: 100%; /* Position below the link */
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 0.25em 0.5em;
	border-radius: 0.25em;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

.social-icons a:hover::after,
.social-icons a:focus::after {
	opacity: 1; /* Show the text when the link is hovered or focused */
}

.social-icons li a img {
	height: 2.5rem;
	width: 2.5rem;
}

.notes {
	font-size: var(--font-size-md);
	padding-block: 2rem 0;
	text-align: left;
}
.blogdate {
	font-size: var(--font-size-base);
	font-style: italic;
}
.blogdescription {
	font-size: var(--font-size-md);
	font-style: italic;
}

/* bookshelf */
.bklist {
	display: grid;
	font-size: var(--font-size-base);
	grid-column: full;
	grid-template-columns: repeat(auto-fit, minmax(var(--max-book-width), 1fr));
	gap: 2rem;
	place-items: center;
	margin-block-start: 2rem;
}
.bktitle {
	font-weight: bold;
	margin-block-start: var(--space-2xs);
	width: var(--max-book-width);
}
.bkrating {
	color: #fa604a;
}
.bkitem a:hover img {
	outline: 5px solid #fa604a;
	border-radius: 10px;
}
.bookyear {
	background: #eee8d5;
	border-bottom: 2px solid #fa604a;
	border-radius: 20px;
	font-size: var(--font-size-lg);
	margin-block-start: 2rem;
	margin-inline: auto;
	text-align: center;
	width: 80%;
}

.nocover {
	background: #eee8d5;
	border: 2px solid rgb(176, 175, 175);
	color: rgb(115, 114, 114);
	font-size: var(--font-size-md);
	font-style: italic;
	height: 273px;
	text-align: center;
	width: 180px;
}
.nocover span {
	display: block;
	padding-block-start: 100px;
}
