/*
  Page structure:
   1 column grid, forcing footer to bottom
*/
body {
  background-color: var(--bg-primary);
  color: var(--text-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: var(--brand-font);
  font-size: var(--font-size-md);
  line-height: 1.35;
  margin-inline: auto;
  min-height: 100vh;
  min-height: 100dvh;
}

header {
  padding-block: var(--space-s);
}
/* Highlight the nav link of the current page  */
nav a[aria-current="page"] {
  border-radius: var(--radius);
  outline: 5px dashed var(--link-hover);
  text-decoration: none;
}

/* #search {
  margin-block: var(--space-m);
  text-align: left;
} */

.stripe-buy-button {
  display: flex;
  justify-content: center;
  margin: var(--space-s) 0;
}

/*
  Content structure
  - named grid lines for layout
  - for varying content widths within a page
*/
.content {
  --gap: clamp(0.25rem, 3vw, 1rem);
  --full: minmax(var(--gap), 1fr);
  --feature: minmax(0, 5rem);
  --popout: minmax(0, 2rem);
  --central: min(65ch, 100% - var(--gap) * 2);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [central-start] var(--central) [central-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
  max-width: 100vw;
  place-content: start center;
}
.full {
  grid-column: full;
}
.feature {
  grid-column: feature;
}
.popout {
  grid-column: popout;
}
.central {
  grid-column: central;
}

/*
  Home page grid:
  - 1 column on small screens
  - 2 columns on medium via media query
  - 4 columns on large via media query
*/
.homegrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--flow-space);
  padding-inline: var(--space-xs);
  place-content: center;
}
.homegrid img {
  margin-block: var(--space-xs);
  margin-inline: auto;
}

@media (max-width: 699px) {
  body {
    background-image: none;
  }
}

@media (min-width: 700px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
  }
  .homegrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1250px) {
  .homegrid {
    grid-template-columns: repeat(4, 1fr);
  }
  #alltags .listolinks {
    margin-inline: auto;
    max-width: 70%;
  }
}

/* Top navigation links & list of all tags in footer */
.listolinks {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-md);
  justify-content: space-around;
  list-style: none;
  text-align: center;
}
.listolinks a {
  padding: 0 var(--space-3xs);
}
.listolinks li {
  margin: var(--space-3xs) var(--space-2xs);
}
nav .listolinks {
  justify-content: center;
}

/* Bookshelf */
.bklist {
  display: grid;
  font-size: var(--font-size-base);
  gap: var(--space-l);
  grid-template-columns: repeat(auto-fit, minmax(var(--max-book-width), 1fr));
  margin-block-start: var(--space-l);
  place-items: start center;
}
.bkitem {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
}
.bktitle {
  font-weight: bold;
  margin-block-start: var(--space-2xs);
  width: var(--max-book-width);
  text-wrap: pretty;
}
.bookyear {
  background: var(--bg-secondary);
  margin-block-start: var(--space-m);
  margin-inline: auto;
  width: 90%;
}
.bookyears a {
  margin-inline: var(--space-3xs);
}

/*
  "scroll to top" SVG image link
  lives inside of the <header> markup
*/
.stt {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  outline: 3px dashed var(--outline-primary);
  background: var(--bg-secondary)
    url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='0d3aba' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E")
    center no-repeat;
}
.stt:hover {
  background: var(--bg-primary)
    url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='black' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E")
    center no-repeat;
  border-radius: 50%;
  opacity: 1;
  outline: 5px dashed var(--outline-hover);
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-md);
  font-style: italic;
  list-style: none;
  margin-block: 0 var(--space-xl);
  padding: 0;
}

.postmeta {
  text-align: center;
  & .taglist {
    justify-content: center;
    margin-block-end: var(--space-s);
  }
  & img {
    margin-block-end: var(--space-2xs);
  }
}

/* image captions */
.caption {
  font-size: var(--caption-size);
  font-style: italic;
  margin-block-start: var(--space-3xs);
  text-align: center;
}

.table-of-contents,
.email-comment {
  margin: var(--space-m) auto;
  padding: var(--space-m);
  width: fit-content;
  background-color: var(--bg-secondary);
  border: 1px solid var(--box-primary);
  border-radius: var(--radius);
  & h2 {
    text-align: center;
  }
}

blockquote {
  border-inline-start: var(--space-2xs) solid var(--jotter-blue);
  font-style: italic;
  font-size: var(--font-size-md);
  grid-column: popout;
  margin: var(--space-s) 0;
  padding: var(--space-s);
}

/* position the copy code button */
pre:has(code) {
  position: relative;
  margin: 5px 0;
  padding: 1.75rem 0 1.75rem 1rem;
}

pre:has(code) button {
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: calc(var(--radius) / 2);
  font-size: var(--font-size-sm);
}
