/* full display of a post; not the card style used in home and archive */
.post {
  grid-column: full;
  display: grid;
  grid-template-columns: inherit;
}

.post > blockquote {
  grid-column: feature;
  border-inline-start: 2vw solid var(--dark-accent-color);
  font-style: italic;
  font-size: var(--font-size-lg);
  padding: 0 min(1em, 4vw);
}
.post-nextprev {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding-inline-start: 0;
}
.post-nextprev li:first-child {
  margin-block: 1em;
}
/* show pictures at feature width */
.post > picture {
  grid-column: feature;
}
/* first paragraph after an image is always a caption */
picture + p {
  grid-column: content;
  text-align: center;
  font-size: var(--caption-size);
}
/* display code as feature width */
.post > pre {
  grid-column: popout;
}
/* end full post elements */

/* webmention styles */
.webmentions {
  grid-column: popout;
  margin-block: 2em;
}
.mention-image {
  border: 3px solid var(--dark-accent-color);
  border-radius: 50%;
  height: 3em;
  width: 3em;
}
.mention-image:hover,
.mention-image:focus {
  background-color: transparent;
  opacity: 0.8;
  outline: 20px solid var(--light-accent-color);
}
.comment {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "image content"
    "image date";
}
.comment a:has(img) {
  border: none;
}
.comment-author {
  grid-area: image;
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: center;
}
.comment-content {
  margin: 0;
  padding: 0;
}
.comment-date {
  font-size: var(--font-size-base);
  font-style: italic;
  line-height: 1;
}
.likes,
.reposts {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.likes a:has(img),
.reposts a:has(img) {
  border: none;
  margin: -5px;
}
