<ul>
{% for tagObj in collections.all | getAllTags %}
  {% set tagUrl %}/tags/{{ tagObj.tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}" class="post-tag">{{ tagObj.tag }} <span class="tagcount">({{ tagObj.count }})</span></a></li>
{% endfor %}
</ul>
