<book-item role="listitem">
	{%- set bookshop_base = "https://bookshop.org/a/109591/" -%}
	{%- if book.localCover -%}
		<img src="/assets/img/{{ book.title | slugify }}.jpg" alt="{{ book.title | safe }}">
	{%- else -%}
		<img src="https://covers.openlibrary.org/b/isbn/{{ book.ISBN }}-M.jpg" alt="{{ book.title | safe }}">
	{%- endif -%}
	<a href="{{ bookshop_base}}{{ book.ISBN }}">{{ book.title | safe }}</a>
	<p>by {{ book.author }}</p>
</book-item>
