<div class="bkitem">
	<a href="{{ book.buyLink }}">
	{% if book.localCover %}
		<img eleventy:ignore src="/assets/img/{{ book.title | slugify }}.jpg" alt="{{ book.title | safe }}">
	{% else %}
		<img eleventy:ignore src="https://covers.openlibrary.org/b/isbn/{{ book.ISBN }}-M.jpg" alt="{{ book.title | safe }}">
	{% endif %}
	</a>
	<p class="bktitle"><a href="{{ book.buyLink }}">{{ book.title | safe }}</a></p>
	<p class="bkauthor">by {{ book.author }}</p>
	{% if book.rating != "" %}<p class="bkrating">{{ book.rating | bookRating }}</p>{% endif %}
</div>
