{# only include syntax highlighter CSS on blog posts that have code #}
{% if pageHasCode %}
  {%- css "pageHasCode" %}
    {% include "css/prism-okaidia.css" %}
  {% endcss %}
  <script src="/assets/js/copycode.js" defer></script>
{% endif %}
