<footer>
  <p class="text">It's {% year %}.</p>
  <a href="https://indieweb.social/@bobmonsour" class="icon-link">
    <img src="/assets/static/mastodon.svg" alt="link to my Mastodon profile" class="icon" loading="lazy">
  </a>
  <a href="https://www.linkedin.com/in/bobmonsour/" class="icon-link">
    <img src="/assets/static/linkedin.svg" alt="link to my LinkedIn profile" class="icon" loading="lazy">
  </a>
  <a href="https://github.com/bobmonsour" class="icon-link">
    <img src="/assets/static/github.svg" alt="link to my Github profile" class="icon" loading="lazy">
  </a>
  <a href="https://www.bobmonsour.com/feed.xml" class="icon-link">
    <img src="/assets/static/rss-feed.svg" alt="link to my RSS feed" class="icon" loading="lazy">
  </a>
</footer>
