<footer>
  <p class="footer__text">It's {% year %}.</p>
  <div class="footer__social-icons">
    <a href="https://www.linkedin.com/in/bobmonsour/" class="icon-link">
      <img src="/img/linkedin-icon-48.png" alt="LinkedIn icon" class="icon" loading="lazy">
    </a>
    <a href="https://github.com/bobmonsour" class="icon-link">
      <img src="/img/github-icon-48.png" alt="Github icon" class="icon" loading="lazy">
    </a>
  </div>
</footer>
