<footer>
  <div class="container">
    <div class="footflex">
      <p class="footflex__text">It's the year {% year %}. Will there be another one?</p>
      <div class="footflex__social-icons">
        <a href="https://twitter.com/bobmonsour" class="icon-link">
          <img src="/images/twitter-icon-48.png" alt="Twitter icon" class="icon">
        </a>
        <a href="https://www.linkedin.com/in/bobmonsour/" class="icon-link">
          <img src="/images/linkedin-icon-48.png" alt="LinkedIn icon" class="icon">
        </a>
        <a href="https://github.com/bobmonsour" class="icon-link">
          <img src="/images/github-icon-48.png" alt="Github icon" class="icon">
        </a>
      </div>
    </div>
  </div>
</footer>
