<header id="top" class="bg-primary">
  <a class="skip-nav-link" href="#main-content">Skip navigation</a>
  <nav>
    <ul class="listolinks">
      {% for link in site.mainNavLinks %}
      <li><a href="{{ link.url }}" {{ link.text | isCurrentPage(page.url) | safe }}>{{ link.text }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
