<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name='description' content='{{ description }}'>
  <meta name='keywords' content='{{ keywords }}'>

{# TODO: Update this once fonts are selected for the site. #}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Roboto+Slab&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/main.css">

  <!-- Add Google Analytics in "production" environment only -->

{# TODO: Need to get a new GA code for this site before allowing it to be used. #}

  {# {% if site.env == "production" %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-!!!NEED---NEW---CODE!!!"></script>
    <script src="/js/g-analytics.js"></script>
  {% endif %} #}
</head>
