<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
  <meta name="keywords" content="{{ keywords }}" />

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="/img/{{ imagesrc }}" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="generator" content="{{ eleventy.generator }}" />

  <style>
    /* caveat-regular - latin */
    @font-face {
      font-family: 'Caveat';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: local(''),
          url('../fonts/caveat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/caveat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
  </style>
  <link rel="stylesheet" href="/css/main.css" />
</head>
