{# A set of Nunjucks macros for use across the project #}

{#
  imageSingle - renders a singe image with caption below

  usage:
    {{ imageSingle('imagefilename.ext', 'image caption text') }}

  Assumes images are located in a directory named 'images' relative to the site root

#}
{% macro imageSingle(imageRef, imageCaption) %}
<div class="image-single">
  <img src="/images/{{ imageRef }}"
       alt="{{ imageCaption }}" loading="lazy">
  <p>{{ imageCaption | captionLineBreaks | safe }}</p>
</div>
{% endmacro %}

{#
  imagePair - renders side-by-side images with captions below each image

  usage:
    {{ imagePair('firstimagefilename.ext', 'first caption', 'secondimagefilename.ext', 'second caption') }}

  Assumes images are located in a directory named 'images' relative to the site root

#}
{%- macro imagePair(imageRef1, imageCaption1, imageRef2, imageCaption2) -%}
<div class="image-pair">
  <img src="/images/{{ imageRef1 }}"
        class="image1"
        alt="{{ imageCaption1 }}" loading="lazy">
  <p class="caption1">{{ imageCaption1 | captionLineBreaks | safe }}</p>
  <img src="/images/{{ imageRef2 }}"
        class="image2"
        alt="{{ imageCaption2 }}" loading="lazy">
  <p class="caption2">{{ imageCaption2 | captionLineBreaks | safe }}</p>
</div>
{%- endmacro -%}

{#
  postExcerpt - renders the title (as link to post), date, and excerpt of a particular post

  usage:
    {{ postExcerpt(post) }}

  where post is a post object from the context of the call to the macro
#}
{% macro postExcerpt(post) %}
<div class="post">
  <h2 class="post__title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
  <p class="post__date">{{ post.date.toLocaleString('en-US', {
    month: 'long',
    day: 'numeric',
    year: 'numeric'
  }) }}<span class="post__readingtime">3 minute read</span></p>
  <div class="post__excerpt">
    {{ post.data.description }}
  </div>
</div>
{% endmacro %}

{#
  postFull - renders the title, date, and the FULL body of a particular post

  usage:
    {{ postFull(post) }}

  where post is a post object from the context of the call to the macro
#}
{% macro postFull(post) %}

<div class="post">
  <h2 class="post__title">{{ post.data.title }}</h2>
  <p class="post__date">{{ post.date.toLocaleString('en-US', {
    month: 'long',
    day: 'numeric',
    year: 'numeric'
  }) }}<span class="post__readingtime">3 minute read</span></p>
  <div class="post__body">
    {{ post.templateContent | safe }}
  </div>
</div>

{% endmacro %}
