{%- for post in microlist -%}
  <div class="post-metadata">
    <p>{{ content | safe }}</p>
    <p>{{ post.date | formatPostDate }}</p>
    <a href="{{ post.url }}">
  </div>
</section>
{%- endfor -%}
