{#
  Display next post and previous post links at the bottom of each post.
#}
<div data-pagefind-ignore>
  {%- set previousPost = theseposts | getPreviousCollectionItem %}
  {%- set nextPost = theseposts | getNextCollectionItem %}
  {%- if nextPost or previousPost %}
    {%- if previousPost %}
      <p>Previous post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></p>{% endif %}
    {%- if nextPost %}
      <p>Next post (in time): <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}
  {%- endif %}
</div>
