<section class="post-card">
  <div class="post-metadata">
    <h2>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
    <p>{{ post.date | formatPostDate }}</p>
    <p>{{ post.content | readingTime }}</p>
    {% set tagsdata = post.data.tags %}
    {% include 'taglist.njk' %}
  </div>
  {# if the post is 1st or 2nd diplayed, load their images eagerly #}
  {# <div>
    <a href="{{ post.url }}">
      {%- if loop.index === 1 or loop.index === 2 -%}
        {% set loading = "eager" %}
      {%- else -%}
        {% set loading = "lazy" %}
      {%- endif -%}
    <img src="/assets/img/{{ post.data.image.source }}" alt="{{ post.data.image.alt }}" sizes="(min-width: 540px) 500px, 95.45vw" loading="{{ loading }}"></a>
  </div> #}
</section>
