---
layout: default
---
<div class="container">
  <div class="post">
    <h1 class="post__title centered">{{ title }}</h1>
    <p class="post__date centered">{{ page.date | formatPostDate }}&nbsp;&nbsp;&bull;&nbsp;&nbsp;{{ content | readingTime }}</p>
    <div class="post__body">
      {{ content | safe }}
    </div>
  </div>
</div>
