{#
  Show an image in the post based on binary showImage front matter.
  This uses the eleventy-image plugin.

  Use image front matter item as follows (here's an example):
    image:
      source: "adding-webmentions-to-my-site.jpg"
      alt: "a neon sign with a heart and a zero next to it"
      creditPerson: "Prateek Kayyal"
      creditLink: "https://unsplash.com/@prateekkatyal"

      caption: "Adding webmentions to my site"

  An image front matter item will only include either
  creditPerson and creditLink or caption, not both.

  The image front matter is used in the following layouts:
    - postgrid.njk
#}
{% if image and showImage%}
  <img src="/assets/img/{{ image.source }}" alt="{{ image.alt }}" sizes="100vw" loading="eager">
{% endif %}

{# if there's a person to credit and a link to them, show both #}
{% if showImage and image.creditPerson and image.creditLink%}
  <p class="caption">
    {% if image.creditType %}{{ image.creditType }}
    {% else %}Photo{% endif %} by <a href="{{ image.creditLink }}">{{ image.creditPerson }}</a>
  </p>
{% endif %}

{# if there's an image and a caption, show the caption #}
{% if showImage and image.caption %}
  <p class="caption">{{ image.caption }}</p>
{% endif %}
