<ul class="social-links list-none">
  <li><a href="mailto:bob.monsour@gmail.com"><svg aria-hidden="true" width="24" height="24"><use href="#icon-email"/></svg>Email</a></li>
  <li><a rel="me" href="https://indieweb.social/@bobmonsour"><svg aria-hidden="true" width="24" height="24"><use href="#icon-mastodon"/></svg>Mastodon</a></li>
  <li><a href="https://github.com/bobmonsour"><svg aria-hidden="true" width="24" height="24"><use href="#icon-github"/></svg>GitHub</a></li>
  <li><a href="https://bsky.app/profile/bobmonsour.com"><svg aria-hidden="true" width="24" height="24"><use href="#icon-bluesky"/></svg>Bluesky</a></li>
  <li><a href="https://www.instagram.com/bobmonsour/"><svg aria-hidden="true" width="24" height="24"><use href="#icon-instagram"/></svg>Instagram</a></li>
  <li><a href="https://www.linkedin.com/in/bobmonsour/"><svg aria-hidden="true" width="24" height="24"><use href="#icon-linkedin"/></svg>LinkedIn</a></li>
  <li><a href="/feed.xml"><svg aria-hidden="true" width="24" height="24"><use href="#icon-rss"/></svg>RSS</a></li>
</ul>
