<ul class="social-icons">
  <li><a href="mailto:bob.monsour@gmail.com" data-hover-text="Email"><img eleventy:ignore src="/assets/img/email.svg" alt="Email" width="24" height="24"></a></li>
  <li><a href="https://indieweb.social/@bobmonsour" data-hover-text="Mastodon"><img eleventy:ignore src="/assets/img/mastodon.svg" alt="Mastodon" width="24" height="24"></a></li>
  <li><a href="https://github.com/bobmonsour" data-hover-text="GitHub"><img eleventy:ignore src="/assets/img/github.svg" alt="GitHub" width="24" height="24"></a></li>
  <li><a href="https://bsky.app/profile/bobmonsour.com" data-hover-text="Bluesky"><img eleventy:ignore src="/assets/img/bluesky.svg" alt="Bluesky" width="24" height="24"></a></li>
  <li><a href="https://www.instagram.com/bobmonsour/" data-hover-text="Instagram"><img eleventy:ignore src="/assets/img/instagram.svg" alt="Instagram" width="24" height="24"></a></li>
  <li><a href="https://www.linkedin.com/in/bobmonsour/" data-hover-text="LinkedIn"><img eleventy:ignore src="/assets/img/linkedin.svg" alt="LinkedIn" width="24" height="24"></a></li>
  <li><a href="/feed.xml" data-hover-text="Blog RSS"><img eleventy:ignore src="/assets/img/rss.svg" alt="RSS" width="24" height="24"></a></li>
</ul>
