<ul class="social-icons list-none">
  <li><a href="mailto:bob.monsour@gmail.com">Email</a></li>
  <li><a rel="me" href="https://indieweb.social/@bobmonsour">Mastodon</a></li>
  <li><a href="https://github.com/bobmonsour">GitHub</a></li>
  <li><a href="https://bsky.app/profile/bobmonsour.com">Bluesky</a></li>
  <li><a href="https://www.instagram.com/bobmonsour/">Instagram</a></li>
  <li><a href="https://www.linkedin.com/in/bobmonsour/">LinkedIn</a></li>
  <li><a href="/feed.xml">RSS</a></li>
</ul>
