{#
  Display list of tags for posts
#}
<ul class="taglist">
  <li>Tags:&nbsp;</li>
  {%- for tag in tagsdata -%}
    {%- set tagUrl -%}/tags/{{ tag | slugify }}/{%- endset -%}
    <li><a href="{{ tagUrl }}">{{ tag }}</a>&nbsp;&nbsp;</li>
  {%- endfor -%}
  <li><a href="#alltags">All Tags</a></li>&nbsp;&nbsp;
  {# <li><a href="/search/">Search</a></li> #}
</ul>
