//DESKTOP STYLES

// Typography

h1 {
  color: var(--brand-color);
}

p {
  font-family: var(--post-body-font);
  font-size: var(--post-body--size);
}

footer p {
  font-size: var(--footer-copy-size);
}

// Overall structure

main {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: var(--gradient-9);
  margin: 0;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}

// Branding & navigation; organization & links

.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  color: var(--brand-color);

  &__image {
    clip-path: circle(45%);
  }

  &__name-and-subtitle {
    margin-left: 1.5rem;
  }

  &__name {
    font-family: var(--brand-name-font);
    font-size: var(--font-size-fluid-3);
    font-weight: bold;
    text-decoration: none;
    margin-right: auto;
  }

  &__subtitle {
    font-family: var(--brand-subtitle-font);
    font-size: var(--font-size-fluid-1);
    margin-right: auto;
  }

  a {
    display: inline-block;
    color: var(--brand-color);
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: var(--brand-link-hover-color);
      border-radius: var(--brand-link-radius);
      animation: var(--animation-pulse);
    }
  }

  &__nav {
    display: flex;
    gap: 1em;
    padding-left: 0;
    margin: 0 auto;
  }

  &__nav a {
    font-family: var(--nav-link-font);
    font-size: var(--font-size-fluid-1);
    text-decoration: none;
    padding: 8px;
    border-bottom: 2px solid var(--nav-underline-color);
  }

  .current {
    background-color: var(--nav-hover-color);
    border-top: 2px solid var(--nav-underline-color);
    border-bottom: 2px solid var(--nav-underline-color);
  }
}

// Post & excerpt layout

.post {
  margin: 2rem 0;

  &__title {
    font-size: var(--post-title-size);
    color: var(--brand-color);
  }

  a {
    display: inline-block;
    color: var(--brand-color);
    text-decoration: none;
    border-bottom: 2px solid var(--nav-underline-color);

    &:hover,
    &:focus {
      background-color: var(--post-link-hover-color);
      border-radius: var(--post-link-radius);
      animation: var(--animation-pulse);
    }
  }

  &__date,
  &__readingtime {
    font-size: var(--post-date-size);
  }

  &__excerpt,
  &__body {
    max-width: 65ch;
    font-size: var(--post-body-size);
    margin: 0.5em 0;

    p {
      margin: 0 0 1em 0;
    }
  }
}

// Footer

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--footer-background-color);
  padding: 2em 0;
  margin-top: 4em;
}

.footer__text {
  font-family: var(--footer-copy-font);
  margin-left: 1em;
  margin-right: auto;
}

.footer__social-icons {
  display: flex;
  margin-left: auto;
  margin-right: 1em;

  .icon-link {
    margin: 0 1em;

    &:hover,
    &:focus {
      background-color: var(--social-icon-background-color);
      cursor: pointer;
    }

    .icon {
      width: 36px;
      height: 36px;
    }
  }
}
