//DESKTOP STYLES

h2 {
  font-size: var(--font-size-lg);
  line-height: 1.2;
  padding-bottom: 0.5em;
}

// default paragraph
p {
  max-width: 65ch;
  margin: 1em auto;
}

hr {
  border-top: 1px solid var(--dark-accent-color);
}
// default link treatment
a {
  color: var(--brand-color);
  text-decoration: none;
  border-bottom: 2px dashed var(--dark-accent-color);

  &:hover,
  &:focus {
    background-color: var(--light-accent-color);
    border-radius: var(--brand-link-radius);
  }
}

blockquote {
  border-left: 5px solid var(--dark-accent-color);
  font-style: italic;
  padding: 0 6rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  // text defaults
  font-family: var(--brand-font);
  font-size: var(--font-size-md);
  color: black;
}

header {
  margin: 1em 0;
}

.container {
  max-width: 94%;
  margin: 0 auto;
}

// Footer

footer {
  display: flex;
  align-items: center;
  background-color: var(--light-accent-color);
  margin-top: 1em;
  padding: 0.25em 0;
}

.footer__text {
  margin-left: 1em;
  margin-right: auto;
}

.footer__social-icons {
  display: flex;
  gap: 1em;
  margin-left: auto;
  margin-right: 1em;

  .icon-link {
    border: none;
    &:hover,
    &:focus {
      background-color: var(--dark-accent-color);
      cursor: pointer;
    }

    .icon {
      width: 36px;
      height: 36px;
    }
  }
}

// Branding & navigation; organization & links

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__image {
    width: 6vw;
    clip-path: circle(45%);
  }

  &__image-link {
    border: none;
  }

  &__nav {
    display: flex;
    gap: 1em;
    text-align: center;
    list-style: none;
    padding: 0;
  }

  &__nav a {
    padding: 0 5px;
    border-bottom: 2px dashed var(--dark-accent-color);
  }

  .current {
    background-color: var(--light-accent-color);
    border-bottom: 2px dashed var(--dark-accent-color);
  }
}

// Post & excerpt layout

.post {
  &__title {
    font-size: var(--post-title-size);
    line-height: 1.2;
  }
  &__date {
    font-size: var(--post-date-size);
    line-height: 1.1;
    padding-top: 5px;
    margin: 0;
  }
  &__body {
    margin: 0.5em auto;
    ul {
      padding-left: 5em;
    }
  }
  &__card {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
  }
}

p.caption {
  text-align: center;
  font-size: var(--caption-size);
  margin: 0.25em auto 1em auto;
}

.pic-with-caption {
  max-width: 50%;
  margin: 0 auto;
}
