// MOBILE STYLES

@media (max-width: 700px) {
  .brand__name {
    font-size: var(--font-size-sm);
  }
  .brand__image {
    width: 15vw;
  }
  .brand__nav {
    font-size: var(--font-size-sm);
  }

  .pic-with-caption {
    max-width: 90%;
  }

  blockquote {
    padding: 0 2rem;
  }

  // Post & excerpt layout
  .post {
    &__title {
      padding: 5px 0;
    }
    &__date {
      font-size: var(--post-date-size);
    }
    &__body {
      ul {
        padding-left: 1.25em;
      }
    }
    &__card {
      display: block;
    }
  }
}
