// mobile styles that differ from those in desktop.scss

@media (max-width: 700px) {
  blockquote {
    padding: 0 2rem;
  }

  .brand__name {
    font-size: var(--font-size-sm);
  }
  .brand__image {
    width: 15vw;
  }
  .brand__nav {
    font-size: var(--font-size-sm);
  }

  // post elements
  .post {
    &__title {
      padding: 5px 0;
    }
    &__body {
      ul {
        padding-left: 1.25em;
      }
    }
    &__card {
      display: block;
    }
  }
  .image-holder {
    max-width: 90%;
  }
}
