:root {
  // Ukraine Flag Colors
  --ukraine-flag-blue: #005bbb;
  --ukraine-flag-yellow: #ffd500;

  // Brand

  --brand-name-font: "Caveat", cursive;
  --brand-color: var(--ukraine-flag-blue);
  // --brand-color: var(--green-9);
  --brand-subtitle-font: var(--font-sans);
  --brand-link-hover-color: var(--nav-hover-color);
  --brand-link-radius: var(--radius-blob-5);

  // Navigation

  --nav-link-color: var(--brand-color);
  --nav-link-font: var(--font-sans);
  --nav-link-size: var(--font-size-fluid-2);
  --nav-underline-color: var(--ukraine-flag-yellow);
  // --nav-underline-color: var(--orange-9);
  --nav-hover-color: var(--ukraine-flag-yellow);
  // --nav-hover-color: var(--orange-3);

  // Footer

  --footer-background-color: var(--ukraine-flag-yellow);
  // --footer-background-color: var(--orange-3);
  --footer-copy-font: var(--font-sans);
  --footer-copy-size: var(--font-size-fluid-1);
  --social-icon-background-color: var(--ukraine-flag-blue);
  // --social-icon-background-color: var(--green-6);

  // Posts

  --post-body-font: var(--font-serif);
  --post-body-size: var(--font-size-fluid-1);
  --post-title-size: var(--font-size-fluid-3);
  --post-date-size: var(--font-size-fluid-1);
  --post-excerpt-size: var(--font-size-fluid-1);
  --post-link-hover-color: var(--nav-hover-color);
  --post-link-radius: var(--radius-blob-5);
}
