<!DOCTYPE html>
<html lang="en"
  data-inputpath="{{ page.inputPath }}"
>
  {% include 'head.njk' %}
<body>
	<a href="#main-content" id="visually-hidden">Skip to main content</a>
  {% include 'header.njk' %}
  <main id="main-content" class="content">
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
</body>
</html>
