<!DOCTYPE html>
<html lang="en">
  {% include 'partials/head.njk' %}
<body>
	<a href="#skip" class="visually-hidden">Skip to main content</a>

  <div class="outer-layout">
    {% include 'partials/header.njk' %}
    <main  id="skip">
      {{ content | safe }}
    </main>
    {% include 'partials/footer.njk' %}
  </div>
</body>
</html>
