<!DOCTYPE html>
<html lang="en" data-theme="light" id="{{ title | slugify }}">
  {% include 'head.njk' %}
<body>
  {% include 'icons.njk' %}
  {% include 'header.njk' %}
  <main id="main-content" class="content">
    <div class="{{ whichgrid }}"{% if pagefindIndex %} data-pagefind-body data-pagefind-filter="type:page"{% endif %}>
      {{ content | safe }}
    </div>
  </main>
  {% include 'footer.njk' %}
  <a href="#" class="stt" aria-label="Scroll to top"><span aria-hidden="true">&uarr;</span></a>
  <script src="/assets/js/theme.js" defer></script>
</body>
</html>
