<!DOCTYPE html>
<html lang="en" data-inputpath="{{ page.inputPath }}" id="{{ title | slugify }}">
  {% include 'head.njk' %}
<body>
  {% include 'header.njk' %}
  <main id="main-content" class="content bg-primary">
    <div class="{{ whichgrid }} {% if boxed %}boxed{% endif %}">
      {{ content | safe }}
    </div>
  </main>
  {% include 'footer.njk' %}
  <a href="#" class="stt" title="scroll to top"></a>
</body>
</html>
