<!DOCTYPE html>
<html lang="en" data-inputpath="{{ page.inputPath }}" id="{{ title | slugify }}">
  {% include 'head.njk' %}
<body>
  {% include 'header.njk' %}
  <main id="main-content" class="bg-color">
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
  <a href="#" class="stt" title="scroll to top"></a>
</body>
</html>
