---
layout: default.njk
---
<article class="post flow" data-pagefind-body>
  <h1>{{ title }}</h1>
	<p class="blogdate">{{ page.date |formatPostDate }}</p>
	{{ content | safe }}
	{% include "comment.njk" %}
	{% set theseposts = collections.microblog %}
	{% include 'nextprevlinks.njk' %}
</article>
