---
layout: default.njk
---
<div class="notes post flow" data-pagefind-body>
  <h1>{{ title }}</h1>
	<p class="blogdate">{{ page.date |formatPostDate }}</p>
	{% set tagsdata = tags %}
	{% include 'taglist.njk' %}
	{{ content | safe }}
	{% include "comment.njk" %}
	{% set theseposts = collections.notes %}
	{% include 'nextprevlinks.njk' %}
</div>
