---
layout: default.njk
---
<div class="container">
  <div class="post">
    <h1 class="post__title">{{ title }}</h1>
    <p class="post__date">{{ page.date | formatPostDate }}&nbsp;&bull;&nbsp;{{ content | readingTime }}</p>
    <ul class="post__taglist">
      <span>Tags: &nbsp;</span>
      {%- for tag in tags | filterTagList %}
        {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href=" {{ tagUrl }}" class="post__tag"> {{ tag }}</a>&nbsp;&nbsp;
      {%- endfor %}
      <a href="/tags/">All Tags</a>
    </ul>
    <div class="post__body">
      {{ content | safe }}
    </div>
  </div>
</div>
