---
layout: default.njk
---
{# only include syntax highlighter CSS on blog posts that have code #}
{% if pageHasCode %}
  {%- css "pageHasCode" %}
    {% include "css/prism-okaidia.css" %}
  {% endcss %}
{% endif %}

<article class="post" data-pagefind-body>
  <h1 class="post-title">{{ title }}</h1>
  <p class="post-date">{{ date | formatPostDate }}</p>
  <p class="post-readingtime">{{ content | readingTime }}</p>
  {% set tagsdata = tags %}
  {% include 'partials/taglist.njk' %}
  {% include 'partials/showimage.njk' %}
  {{ content | safe }}
  {% include 'partials/webmentions.njk' %}
  {% include 'partials/nextprevlinks.njk' %}
</article>
