---
title: Archives of Bob Monsour's Personal Site
description: These are the archives of the personal website of Bob Monsour.
keywords: retired, web development, eleventy, tennis, archives
imagesrc: "bob.small.jpg"
permalink: /pages/archives/
---

<div class="container">
  {% set postslist = collections.posts | reverse %}
  {% include "postslist.njk" %}
</div>
