---
title: Blog
description: These are the archives of the personal website of Bob Monsour.
keywords: retired, web development, eleventy, tennis, archives
image:
  source: "about-bob.jpg"
  alt: "a picture of Bob from 2009"
permalink: /archive/
---

<h1>{{ title }} <span class="parenthetical">(<a href="/feed.xml">RSS</a>, includes microBlog)</span></h1>

{%- set postlist = collections.posts | reverse -%}
{% include "postlist.njk" %}
