---
layout: grid.njk
title: Blog
description: These are the archives of the personal website of Bob Monsour.
keywords: retired, web development, eleventy, tennis, archives
permalink: /blog/
---

<h1>{{ title }}</h1>
<p class="text-center parenthetical"><a href="/stats/">Posting stats</a></p>
{%- set blogposts = collections.posts | reverse -%}
{% include 'blog-entries.njk' %}
