---
layout: grid.njk
whichgrid: popout
title: Books
description: These are books that I've read over the years, though for many, I don't know what year that I read them.
keywords: books, reading, bookshelf
tags: [books]
permalink: /books/
---

<h1>{{ title }}</h1>

<p>Inspired by many of the <em>bookshelves</em> that I've seen on other sites (<a href="https://coryd.dev/books">Cory Dransfeldt's</a>, <a href="https://sean.voisen.org/bookshelf/">Sean Voisen's</a>, <a href="https://melanie-richards.com/currently/reading/">Melanie Richards's</a>, <a href="https://thisguise.wtf/bookshelf/">Chazz Basuta's</a>, and <a href="https://daverupert.com/bookshelf">Dave Rupert's</a>), here are some of the books that I've read over the years. It is nowhere near a complete list, with the data from more recent years being the most accurate.</p>

<p>The bulk of the data came from the <a href="https://www.goodreads.com/">Goodreads</a> platform (exported and hacked as I'll describe in this <a href="/blog/building-the-book-page/"><em>future</em> blog post</a>).</p>

<p>The ratings are my own, and as you can see, I like most of what I've read. And while I know the year when I read some of these books, there's also an <a href="#undated">Undated section</a> at the end. I'll likely add more to that section as I mine my physical bookshelves for data.</p>

<p><em>The cover images and the book titles link to their respective <strike>Amazon</strike> <a href="https://bookshop.org">Bookshop.org</a> product pages and I do participate in their affiliate program.</em></p>

<p>Finally, if you want to know how I built this, there's <a href="/blog/building-the-book-page/">this <em>future</em> blog post</a> about it.

<article data-pagefind-body>
<div class="bookyears">
	{% for year in books.years %}
		<a href="#y{{ year }}">{{ year }}</a>{% if  not loop.last %} / {% endif %}
	{% endfor %}
</div>

<h2 class="bookyear text-center boxed">Currently Reading</h2>
<div class="bklist">
		{%- for book in books.currentBooks.slice(0,2) -%}
			{%- include "bookitem.njk" -%}
		{%- endfor -%}
</div>

	{% set previous_year = "" %}
	{%- for book in books.datedBooks %}
		{# extract the year from the yearRead property that is formatted as yyyy/mm/dd #}
		{%- set current_year = book.yearRead | truncate(4, true, '') -%}
		{%- if current_year != previous_year %}
			{# if we're changing years and it's not the first year,
				close the 'bklist' div on the prior year, set the heading id
				to the new year, update the previous_year, and open a new bklist div #}
			{% if not loop.first %}</div>{% endif %}
			<h2 id="y{{ current_year }}" class="bookyear text-center boxed">{{ current_year }}</h2>
			{% set previous_year = current_year %}
			<div class="bklist">
		{%- endif %}
		{% include "bookitem.njk" %}
		{# close the 'bklist' div on the last book in the list #}
		{% if loop.last %}</div>{% endif %}
	{%- endfor %}

<h2 id="yundated" class="bookyear text-center boxed">Undated: don't know when I read these</h2>
<div class="bklist">
	{%- for book in books.undatedBooks %}
		{% include "bookitem.njk" %}
	{%- endfor %}
</div>
</article>
