---
title: Books
description: These are books that I've read over the years, though for many, I don't know what year that I read them.
keywords: books, reading, bookshelf
image:
  source: "about-bob.jpg"
  alt: "a picture of Bob from 2009"
permalink: /books/
---

<h1>{{ title }}</h1>

<section class="bklist">
	{%- for book in books %}
		<div class="bkitem">
			<a href=""><img eleventy:ignore src="https://covers.openlibrary.org/b/isbn/{{ book.ISBN }}-M.jpg" alt="{{ book.title | safe }}"></a>
			<p class="bktitle"><a href="">{{ book.title | safe }}</a></p>
			<p class="bkauthor">by {{ book.author }}</p>
			<p class="bkrating">{{ book.rating | bookRating }}</p>
		</div>
	{%- endfor %}
</section>
