---
layout: home.njk
title: Bob Monsour
description: My personal website. Enjoying building websites with 11ty.
keywords: retired, web development, eleventy, tennis
permalink: /index.html
---

<div class="homegrid">
  <div class="boxed">
    <h2>Yo!</h2>
    <img
      src="/assets/img/about-bob.jpg"
      alt="Bob, circa 2009"
      class="round-img"
      loading="eager"
      sizes="100px"
    />
    <p>
      Hi! I'm Bob Monsour. Born in Brooklyn, raised in New Jersey, and educated
      in Florida and Los Angeles, I'm now retired and living in Northern
      California with
      <a href="https://www.tascafineart.com/" data-link-type="external">
        Sandra
      </a>
      , my wonderful wife and artist, and our Portuguese Water Dog,
      <a href="/soda/">Soda</a>. More
      <a href="/about/">about me</a>.
    </p>
  </div>
  <div class="boxed">
    <h2>From the Blog</h2>
    <ul class="list-none">
      {%- set blogposts = collections.postsnotestils | reverse -%} {%- set
      last3posts = blogposts.slice(0,3) -%} {%- for post in last3posts -%}
      <li>
        <a href="{{ post.url }}" class="bold">{{ post.data.title }}</a>
        <p class="blogdate">{{ post.date | formatPostDate }} &middot; {{ post.data.description | safe }}</p>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <div class="boxed">
    <h2>Current Project</h2>
    <a href="https://11tybundle.dev">
      <img
        loading="lazy"
        decoding="async"
        src="/assets/img/11tybundle-dev.png"
        alt="The 11ty Bundle"
      />
    </a>
    <p>
      A
      <a href="https://11tybundle.dev" data-link-type="external">website</a>
      of
      <a href="https://11ty.dev" data-link-type="external">Eleventy</a>
      resources, including more than 1,500 blog posts across 50 categories
      written by more than 400 authors to help you get the most out of this
      great static site generator.
    </p>
  </div>
  <div class="boxed">
    <h2>Currently Reading</h2>
    {%- for book in books.currentBooks.slice(0,1) -%}
      {%- include "bookitem.njk" -%}
    {%- endfor -%}
  </div>
</div>
