---
title: {{ site.title }}
description: {{ site.description }}
keywords: retired, web development, eleventy, tennis
imagesrc: "bob.small.jpg"
permalink: /index.html
---

<div class="container">
  {% set latest_posts = collections.posts | reverse %}
  {% set postslist = latest_posts.slice(0,3) %}
  {% include "postslist.njk" %}
</div>

<div class="container">
  <a href="/pages/archive/" title="link to more blog posts">More posts in the Archive...</a>
</div>
