---
title: Bob Monsour
description: The personal website of Bob Monsour. Enjoying learning and deploying websites with 11ty and Netlify.
keywords: retired, web development, eleventy, tennis
image:
  source: "about-bob.jpg"
  alt: "a picture of Bob from 2009"
permalink: /index.html
---

<img src="/assets/img/about-bob.jpg" class="about-img" alt="Bob circa 2009">

<div class="post flow">
	<p>Hi! I'm Bob Monsour.</p>

	<p>Brooklyn-born, New Jersey-raised, and educated in Florida and Los Angeles, I'm now retired and living in Northern California with my wonderful <a href="https://www.tascafineart.com/">wife and artist</a>, Sandra, and our Portuguese Water Dog, <a href="/soda/">Soda</a>. Our son is out on his own and lives in Los Angeles.</p>

	<p>When we're not traveling, I enjoy trying to stay fit and being a part of the community of web developers who use the static site generator <a href="https://11ty.dev">Eleventy</a>. A big part of that is maintaining a <a href="https://11tybundle.dev">website</a> and <a href="https://buttondown.com/11tybundle">newsletter</a> called the <a href="https://11tybundle.dev">11ty Bundle</a>.</p>

	<p>I've had the privilege of working in the technology industry from the late 70s through early 2000. I was fortunate to work on a lot of interesting projects, both on the technical and the business side.</p>

	<p>There's a little more about me on the, oddly enough, <a href="/about/">about page</a>.

	{% include 'socials.njk' %}
</div>
