---
layout: plain.njk
title: My Store
description: This is where I sell various things...ok, one thing (for now).
keywords: books, reading, bookshelf
tags: [store]
permalink: /mystore/
---

<h1>{{ title }}</h1>

<article data-pagefind-body>
<p>Welcome to my store, where - as of May 27, 2025 - you can buy one thing...a sticker for the <a href="https://11tybundle.dev">11ty Bundle website</a>. It can be shipped anywhere in the world. It was designed by <a href="https://www.andycarolan.com/">Andy Carolan</a>. It's 4" x 2" and based on this design:</p>

<img src="/assets/img/11tybundle-dev.png" alt="Illustration of the 11ty Bundle website, designed by Andy Carolan" style="max-width: 100%; height: auto; margin-block: 2rem;">

<p>And here's what it looks like on my laptop. How many 11s can you find?</p>

<img src="/assets/img/sticker-on-laptop.jpg" alt="the sticker as it appears on my laptop" style="max-width: 100%; height: auto; margin-block: 2rem;">


<p>You can buy them for $5.00 USD each, while supplies last (I've got 49 of them left). Shipping is included in the price and I'll (do my best to) ship it anywhere in the world (fingers crossed).</p>

</article>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<div class="stripe-buy-button">
  <stripe-buy-button
  buy-button-id="buy_btn_1RSQlVBXGGtIBiNb4mjYBx4S"
  publishable-key="pk_live_51RSL6BBXGGtIBiNbGROAdAuYEDLHCodxcBZXbPVgfK2NksWPs4nUomZb9MuKmXsdS1zsxjBsq6NCaZpzndbBPHhW00hvLKAV0o">
  </stripe-buy-button>
</div>
