---
title: Notes
description: These are the archives of Bob Monsour's notes.
keywords: retired, web development, eleventy, tennis, notes
permalink: /notes/
---

<h1>{{ title }} <span class="parenthetical">(<a href="/notesfeed.xml">RSS</a>, Notes only)</span></h1>
<p class="subtitle">Shorter writings and observations</p>
{%- set noteslist = collections.notes | reverse -%}
{%- for post in noteslist -%}
	{% include "entry-item.njk" %}
{%- endfor -%}
