---
layout: grid.njk
whichgrid: central
title: Notes
description: These are the archives of Bob Monsour's notes.
keywords: retired, web development, eleventy, tennis, notes
permalink: /notes/
---

<h1>{{ title }} <span class="parenthetical">(<a href="/notesfeed.xml">RSS</a>, Notes only)</span></h1>
<p class="text-center">Shorter writings and observations</p>
{%- set blogposts = collections.notes | reverse -%}
{% include "blog-entries.njk" %}
