---
layout: grid.njk
title: Projects
description: These are some of the projects and websites that I am either working on or have worked on.
keywords: retired, web development, eleventy, tennis, archives
permalink: /projects/
pagefindIndex: true
---

<h1>{{ title }}</h1>

<p>Here is a list of projects/websites that I've built over the last 20+ years. They are listed in reverse chronological order based on an approximate launch date.</p>

<hr>

{%- set projects = collections.projects | reverse -%}
{%- for project in projects -%}
<article>
  <h2 class="bold">{{ project.data.title }}</h2>
  <p>{{ project.data.description | safe }}</p>
  <p>{% if project.data.siteUrl %}Site link: <a href="{{ project.data.siteUrl }}">{{ project.data.title }}</a>{% endif %}</p>
  <p>{% if project.data.notActive %}Site link: No longer active{% endif %}</p>
  <p>{% if project.data.localOnly %}Site link: Local only web app{% endif %}</p>
  <p>Tech Stack: {{ project.data.techStack }}</p>
  <p>Approximate launch date: {{ project.data.date | formatPostDate }}</p>
  <img src="/assets/img/projects/{{ project.data.image.source }}" alt="{{ project.data.image.alt }}" sizes="100vw" {% if loop.index === 1 %}loading="eager" {% else %} loading="lazy">{% endif %}
  <p>{{ project.data.details | safe }}</p>
<hr>
</article>
{%- endfor -%}
