---
layout: grid.njk
title: Search
description: Search
keywords: search
permalink: /search/
pagestyle: search
---

<h1>Search</h1>

<h2>Search is currently disabled. Please don't ask why.</h2>
{# <div id="search"></div> #}

{# <script src="/pagefind/pagefind-ui.js"></script> #}
{# <script>
  window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI({
      element: "#search",
      translations: {
        placeholder: "Type / to search",
        zero_results: "Count not find [SEARCH_TERM]"
      },
      showImages: true,
      sort: {
        date: "desc"
      }
    });

    // Add event listener for the '/' key
    document.addEventListener('keydown', (e) => {
      // Check if the '/' key was pressed and no input or textarea is focused
      if (e.key === '/' && !e.target.matches('input, textarea')) {
        e.preventDefault(); // Prevent the default browser behavior
        const searchInput = document.querySelector('input.pagefind-ui__search-input');
        if (searchInput) {
          searchInput.focus(); // Move focus to the search box
        }
      }
    });

  });
</script> #}
