---
layout: plain.njk
title: Shop
description: This is where I sell various things...ok, one thing (for now).
keywords: books, reading, bookshelf
tags: [shop, 11ty]
image:
  source: 11tybundle-dev.png
  alt: An illustration of the 11ty Bundle.
  creditPerson: Andy Carolan
  creditLink: https://andycarolan.com/
  creditType: Illustration
permalink: /shop/
---

<h1>{{ title }}</h1>

<div class="stripe-buy-button">
  <stripe-buy-button
  buy-button-id="buy_btn_1RSQlVBXGGtIBiNb4mjYBx4S"
  publishable-key="pk_live_51RSL6BBXGGtIBiNbGROAdAuYEDLHCodxcBZXbPVgfK2NksWPs4nUomZb9MuKmXsdS1zsxjBsq6NCaZpzndbBPHhW00hvLKAV0o">
  </stripe-buy-button>
</div>

<article data-pagefind-body>
<p>Welcome to my shop, where you can buy one thing...a sticker for the <a href="https://11tybundle.dev">11ty Bundle website</a>. Tax and shipping are included in the price and I'll (do my best to) ship them to anywhere in the world (fingers crossed). As of today, May 27, 2025, I've got 49 of them left, and I'm not sure I'll do any more. Designed by <a href="https://www.andycarolan.com/">Andy Carolan</a>, it's 4" x 2" with a matte finish and based on this design.</p>

<img src="/assets/img/11tybundle-dev.png" alt="Illustration of the 11ty Bundle website, designed by Andy Carolan" style="max-width: 100%; height: auto; margin-block: 2rem;">

<p>I wrote a <a href="/blog/got-stickers/">blog post about how this came to be a thing</a>. And here's what it looks like on my laptop.</p>

<img src="/assets/img/sticker-on-laptop.jpg" alt="the sticker as it appears on my laptop" style="max-width: 100%; height: auto; margin-block: 2rem;">

<p>If you do decide to buy one and put it on your laptop (or anything else), I'd love to see some images shared on social media. You can find me on <a href="https://indieweb.social/@bobmonsour">Mastodon</a> or <a href="https://bsky.app/profile/bobmonsour.com">Bluesky</a>.</p>

</article>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<div class="stripe-buy-button">
  <stripe-buy-button
  buy-button-id="buy_btn_1RSQlVBXGGtIBiNb4mjYBx4S"
  publishable-key="pk_live_51RSL6BBXGGtIBiNbGROAdAuYEDLHCodxcBZXbPVgfK2NksWPs4nUomZb9MuKmXsdS1zsxjBsq6NCaZpzndbBPHhW00hvLKAV0o">
  </stripe-buy-button>
</div>
