---
layout: default.njk
title: This is our Soda!
description: This is Soda, our Portuguese Water Dog.
keywords: dog, Soda
permalink: /soda.html
eleventyExcludeFromCollections: true
---

<h1>{{ title }}</h1>
<div class="post">
<img src="/assets/img/soda.jpg", alt="Our dog, Soda" sizes="(min-width: 1000px) 1200px, 100vw" loading="eager">
</div>
