---
layout: grid.njk
whichgrid: feature
boxed: true
title: Stats
description: A GitHub style graph of my blogging history
keywords: statistics, graphic, GitHub, blogging
permalink: /stats/
---

<h1>{{ title }}<span class="parenthetical"> (<a href="/blog/">back to the blog</a>)</h1>
{% postGraph collections.all %}
