---
title: Stats
description: A GitHub style graph of my blogging history
keywords: statistics, graphic, GitHub, blogging
image:
  source: "young-bob.jpg"
  alt: "a picture of Bob's face as a boy"
permalink: /stats/
---
<h1>{{ title }}</h1>
{% postGraph collections.posts %}