---
title: Stats
description: A GitHub style graph of my blogging history
keywords: statistics, graphic, GitHub, blogging
permalink: /stats/
---

<h1>{{ title }}</h1>

<div class="popout">
  {% postGraph collections.all %}
</div>
