---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - microblog
permalink: /tags/{{ tag | slugify }}/
description: Posts tagged with a particular tag
keywords: tags, Bob Monsour, website, 11ty, eleventy, blog
image:
  source: "about-bob.jpg"
  alt: "a picture of Bob from 2009"
---

<h1>Tagged “{{ tag }}”</h1>

{% set postlist = collections[ tag ] | reverse %}
{% include "postlist.njk" %}

<h3><a href="/archive/" title="link to more blog posts in the archive">More posts in the Archive...</a></h3>
