---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
permalink: /tags/{{ tag | slugify }}/
eleventyComputed:
  title: Tagged {{ tag | slugify }}
description: Posts tagged with a particular tag
keywords: tags, Bob Monsour, website, 11ty, eleventy, blog
---

<h1>Tagged “{{ tag }}”</h1>
<br>
{% set postlist = collections[ tag ] | reverse %}
{% include "postlist-tagged.njk" %}
