---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---

<h2>Tagged “{{ tag }}”</h2>

{% set postlist = collections[ tag ] | reverse %}
{% include "postlist.njk" %}
