---
layout: grid.njk
whichgrid: central
title: TIL
description: These are the archives of Bob Monsour's TIL, which captures my 'today I learned, linked, or loved' thoughts, i.e., links to interesting things.
keywords: retired, web development, eleventy, tennis, today I learned
permalink: /til/
---

<h1>{{ title }} <span class="parenthetical">(<a href="/tilfeed.xml">RSS</a>, TIL only)</span></h1>
<p class="text-center">Today I Learned, Linked, or Loved</p>
{%- set blogposts = collections.til | reverse -%}
{% include 'blog-entries.njk' %}
