/* page footer */
body > footer {
  font-size: var(--font-size-base);
  background-color: var(--light-accent-color);
  padding-block: 0.5em;
  margin-block-start: 1em;
}
body > footer > p {
  margin: 0;
  text-align: center;
}
/* end page footer */
