---
layout: default
title: Bob Monsour's personal website
description: The personal website of Bob Monsour. Enjoying learning and deploying websites with 11ty and Netlify.
keywords: retired, web development, eleventy, tennis
image: losing-my-brother-to-cancer-1400w.jpeg
permalink: /
---

<div class="container">
  {% set latest_posts = collections.posts | reverse %} {%- for post in
  latest_posts.slice(0,1) -%}
  <div class="post">
    <h1 class="post__title centered">{{ post.data.title }}</h1>
    <p class="post__date centered">
      {{ post.date | formatPostDate }}&nbsp;&nbsp;&bull;&nbsp;&nbsp;{{
        post.templateContent | readingTime
      }}
    </p>
    <div class="post__body">
      {{ post.templateContent | safe }}
    </div>
  </div>
  {%- endfor -%}
</div>

<div class="container">
  <br />
  <br />
  <br />
  <h2 class="post__title smaller centered">Recent posts from the blog</h2>

  {% set latest_posts = collections.posts | reverse %}
  {%- for post in latest_posts.slice(1,4) -%}
  <div class="post__card">
    <div class="post__image">
      <a href="{{ post.url }}">
      {% image "src/img/" + post.data.imagesrc, post.data.imagealt, "(min-width: 1000px) 1200px, 100vw" %}</a>
    </div>

    <div class="post post__portion">
      <h2 class="post__title smaller">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
      <p class="post__date">
        {{ post.date | formatPostDate }}&nbsp;&nbsp;&bull;&nbsp;&nbsp;{{
          post.templateContent | readingTime
        }}
      </p>
      <p class="post__excerpt">{{ post.data.description }}</p>
    </div>
  </div>
  {%- endfor -%}

  <div class="post">
    <h2 class="post__title smaller centered">
      <a href="/moreposts/">A list of all my posts...</a>
    </h2>
  </div>
</div>
