---
layout: default
title: Bob Monsour's Personal Site
description: The personal website of Bob Monsour. Enjoying learning and deploying websites with 11ty and Netlify.
keywords: retired, web development, eleventy, tennis
image: https://bobmonsour.com/img/only-the-open-props-i-use-1400w.jpeg
permalink: /
---

<div class="container">
  {% set latest_posts = collections.posts | reverse %}
  {%- for post in latest_posts.slice(0,1) -%}
  <div class="post">
    <h1 class="post__title centered">{{ post.data.title }}</h1>
    <p class="post__date centered">{{ post.date | formatPostDate }}&nbsp;&nbsp;&bull;&nbsp;&nbsp;{{ post.templateContent | readingTime }}</p>
    <div class="post__body">
      {{ post.templateContent | safe }}
    </div>
  </div>
  {%- endfor -%}
</div>
