---
layout: default
title: What about Bob
description: The personal website of Bob Monsour, a retired tech developer and business executive. Enjoying learning more HTML/CSS/JS and 11ty.
keywords: retired, web development, eleventy, tennis
permalink: /whataboutbob/
---

<div class="container">
  <a href="/"><img src="/img/bob-small.jpg" alt="An image of Bob's head serving as a link back to the home page of his site"></a>
  <div>
    <p>Retired, former tech and business guy<br>Still learning HTML/CSS/JS and this<a href="https://www.11ty.dev/">11ty</a> thing<br>Occasionally writing about observations and experiences</p>
  </div>
</div>

<!-- TODO: flesh out bio here -->
