{%- css %}
{% include "css/brand.css" %}{% endcss %}
<header>
  <nav class="brand">
    <a href="/" class="brand__name" title="link to home page">Bob Monsour</a>
    <img class="brand__image" alt="picture of Bob" src="/assets/img/bob-small.jpg">
    <ul class="brand__nav">
      {% for link in site.mainNavLinks %}
        <li>
          <a href="{{ link.url }}"
            {% if page.url == link.url %} aria-current="page" class="nav__link" {% else %}class="nav__link" {% endif %}>{{ link.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
